@model CalcViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    Результаты расчёта:<br />
    <table class="table table-hover">
        <tr>
            <th>Координаты y, м</th>
            @for (int y = 0; y < Model.ResultTable.GetLength(0); y++)
            {
                <th>@(y/2.0)</th>
            }
        </tr>

        @for (int i = 0; i < Model.ResultTable.GetLength(1); i++)
        {
            <tr>
                <td>@Formulas.GetFuncName(i)</td>
                @for (int y = 0; y < Model.ResultTable.GetLength(0); y++)
                {
                    <td>@Model.ResultTable[y, i]</td>
                }
            </tr>
        }
    </table>
    <div id="chart"></div>
    <div id="chart2"></div>
    <script>
        var chart = c3.generate({
            bindto: '#chart',
            data: {
                x: 'x',
                columns: [
                    ['x', ...@Json.Serialize(Model.PositionsY)],
                    ['Температура окатышей, С', ...@Json.Serialize(Model.TempMaterial)],
                    ['Температура воздуха, С', ...@Json.Serialize(Model.TempGas)],
                ]
            }
        });

        var chart2 = c3.generate({
            bindto: '#chart2',
            data: {
                x: 'x',
                columns: [
                    ['x', ...@Json.Serialize(Model.PositionsY)],
                    ['Разность температур, С', ...@Json.Serialize(Model.TempDiffs)],
                ]
            }
        });
    </script>
</div>
